{{#extend "body_id"}}
id="bar"
{{/extend}}
{{#extend "title"}}
Bar |
{{/extend}}
{{#extend "body"}}

<div class="container">
    <header>
        <h1>The Bar</h1>
        <span>Some Fancy Wording Here </span>
    </header>
    <section id="bartender">
        {{#each bartenders}}
        <div class="photo">
            <div class="details">
                <h4>{{ name }}</h4>
                {{{ description }}}
            </div>
            <img src="{{ photo }}" alt="{{ name }}" />
        </div>
        {{/each}}
    </section>
    <section id="the-menu">
        <div class="menu drinks col-12 col-md-5">
            <h2>Drinks</h2>
            {{#each drinks}}
            <div class="item">
                <h3>{{ name }} <span>{{ price }}<em>gil</em></h3>
                <div class="items">{{{ description }}}</div>
            </div>
            {{/each}}
        </div>

        <div class="menu food col-12 col-md-5">
            <h2>Food</h2>
            {{#each food}}
            <div class="item">
                <h3>{{ name }} <span>{{ price }}<em>gil</em></h3>
                <div class="items">{{{ description }}}</div>
            </div>
            {{/each}}
        </div>
    </section>
</div>
{{/extend}}

{{#extend "js"}}
{{/extend}}