{{#extend "title"}}Admin |{{/extend}}
{{#extend "body_id"}}id="admin"{{/extend}}


{{#extend "body_class"}}class="bar edit"{{/extend}}

{{#extend "body"}}
<div class="container">
    <h1>{{ item.name }}</h1>
    <form>
        <input type="hidden" name="id" value="{{ item.id }}">
        <div class="row">
            <div class="field col-3">
                <label>Name</label>
                <input type="text" name="name" value="{{ item.name }}">
            </div>

            <div class="field col-3">
                <label>Price</label>
                <input type="number" name="price" value="{{ item.price }}">
            </div>

            <div class="field col-3">
                <label>Role</label>
                <select name="role">
                    {{#select item.type}}
                    <option value="food">food</option>
                    <option value="drink">drink</option>
                    {{/select}}
                </select>
            </div>
            <div class="field col-3">
                <label>Active</label>
                <select name="active">
                    {{#select item.active}}
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                    {{/select}}
                </select>
            </div>
            <div class="field">
                <label>Description</label>
                <textarea name="description" id="editor">{{ item.description }}</textarea>
            </div>
        </div>


        <button type="submit">Submit</button>
        <div class="message"></div>
        <progress id="file" value="0" max="100"></progress>

    </form>
</div>
{{/extend}}
{{#extend "js"}}
<script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/classic/ckeditor.js"></script>
<script src="/js/burzum/bar/edit.js"></script>
{{/extend}}