{{#extend "title"}}Admin |{{/extend}}

{{#extend "css"}}
<link href="/css/admin/main.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
{{/extend}}
{{#extend "body_id"}}id="admin"{{/extend}}
{{#extend "body_class"}}class="staff"{{/extend}}

{{#extend "body"}}
<div class="container">
    <div class="row">
        <table id="staff">
            <thead>
                <th>Name</th>
                <th>Role</th>
                <th>Status</th>
                <th></th>
            </thead>
            <tbody>
                {{#each staff}}
                <tr>
                    <td><a href="/admin/staff/{{ id }}">{{ name }}</a></td>
                    <td>{{ role }}</td>
                    <td>{{ status }}</td>
                    <td><a href="/admin/staff/{{ id }}">Edit</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/extend}}
{{#extend "js"}}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script>
    const dataTable = new simpleDatatables.DataTable('#staff', {
        searchable: true,
        fixedHeight: true,
    })
</script>
{{/extend}}