{{#extend "title"}}Events | {{/extend}}
{{#extend "body_id"}}id="events"{{/extend}}

{{#extend "body"}}

<section id="calendar">
    <div class="container">
        <div class="events">
            {{#each events}}
            <div class="event">
                <div class="row info">
                    <div class="date" data-date="{{ date }}">
                        <div class="day">{{ moment date "DD"}}</div>
                        <div class="month">
                            <span>{{ moment date "MMM"}}</span>
                            <span>{{ moment date "ddd"}}</span>
                        </div>
                    </div>
                    <h3>DJ {{ staff.name }}</h3>
                </div>

                <div class="row">
                    {{#each schedule}}
                    <div class="schedule col-12 col-lg-6">
                        <div class="details" style="border-color:#ffffff">
                            <div class="row">
                                <div class="icon col-3">
                                    <img src="/fav/favicon-32x32.png">
                                </div>
                                <div class="about col-6">
                                    <h2>{{ name }}</h2>
                                    <p class="time">{{ moment start "h a"}} - {{ moment end "h a"}} EST</p>
                                    <span>
                                        {{{ description }}}
                                    </span>
                                </div>
                                <div class="location col-3">
                                    <p>Location: <span>{{ location }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<div class="overlay-bg"></div>

{{/extend}}

{{#extend "js"}}
<script>

</script>
{{/extend}}