{{#extend "title"}}Admin |{{/extend}}
{{#extend "css"}}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
{{/extend}}
{{#extend "body_id"}}id="admin"{{/extend}}
{{#extend "body_class"}}class="gallery"{{/extend}}

{{#extend "body"}}
<div class="container">
    <div class="row">
        <h1>gallery</h1>
        <table id="staff">
            <thead>
                <th>Id</th>
                <th>Author</th>
                <th>Created</th>
                <th></th>
            </thead>
            <tbody>
                {{#each gallery}}
                <tr>
                    <td><a href="/admin/gallery/{{ id }}">{{ id }}</a></td>
                    <td>{{ author }}</td>
                    <td>{{ moment created "MMMM Do YYYY" }}</td>
                    <td><a href="/admin/gallery/{{ id }}">Edit</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <a href="add">Add</a>
    </div>
</div>
{{/extend}}
{{#extend "js"}}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script>
    const dataTable = new simpleDatatables.DataTable('#staff', {
        searchable: true,
        fixedHeight: true,
    })
</script>
{{/extend}}